* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'roboto', sans-serif;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  min-height: 100vh;
  background-color: hsl(91, 95%,73%);
}

html {
  scroll-behavior: smooth;
}

.main {
  margin-top: 3rem;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 2px solid black; */
}

@media (max-width: 1000px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 780px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .card-container {
    grid-template-columns:  1fr;
  }
}

h1 {
  margin-bottom: 2rem;
}

.cards-container{
  display: flex;
  flex-direction: column;
  padding: 40px, 25px, 25px, 25px;
  position: relative;
  background: hsl(91, 95%,80%);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.7);
  transition: 0.3s;
  margin: 1rem;
  /* border: 2px solid black; */
}

.cards-container:hover {
  margin-top: 10rem;
  transform: scale(1.5);
  z-index: 5;
}

.card {}

.card-image {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
  transition: 0.3s; 
  left: 95%;
  transform: translateX(-95%);
}

.card-image:hover {
  margin-top: 10px;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  border: 2px solid hsl(91, 95%,73%);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.7);
}

.info {
  position: relative;
  top: 10px;
  width: 100%;
  height: 250px;
  padding: 10px 15px;
}

/* .info p {
  font-size: 15px;
  color: hsl(0, 10%, 15%);
  line-height: 17px;
} */

.card-name {
  color: hsl(0, 10%, 15%);
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 5px;
  margin-top: 15px;
}

.character-life {
  color: hsl(0, 10%, 15%);
  font-size:14px;
  font-weight: 600;
  margin-bottom: 15px;
}

.info h3 {
  color: hsl(0, 10%, 15%);
  font-size:14px;
  font-weight: 600;
  margin-bottom: 5px;
}



.footer {
  position: relative;
  bottom: 0;
  margin-top: 20px;
}

.footer button {
  background: none;
  border: none;
  cursor: pointer;
}

.footer button:hover {
  background-color: hsl(0, 10%, 15%);
  color: hsl(91, 95%,73%);
  padding: 2px 5px;
  border-radius: 2px;
}

.moreInfo {
  font-size: 15px;
  margin-top: 20px;
}

/* @media screen and (max-width: 1160px) {
  .character-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding-top: .5em;
    border: solid .15em black;
  }
} */

@media screen and (max-width: 780px) {
  .character-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding-top: .5em;
    /* border: solid .15em black; */
  }
}

@media screen and (max-width: 460px) {
  .character-card-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding-top: .5em;
    /* border: solid .15em black; */
  }
}