@font-face { 
  font-family: 'le-murmure'; 
  font-weight: regular; 
  src: url('le-murmure.woff');
}

@font-face { 
  font-family: 'sligoil-micro'; 
  font-weight: regular; 
  src: url('sligoil-micro.woff');
}

:root {
  --main-color: hsl(71, 100%, 49%);
  --main-color-light: hsl(68, 100%, 64%);
  --second-main-color: hsl(260, 100%, 50%);
  --white-color: rgb(242, 243, 238);
  --black-color: hsl(0, 0%, 11%);

  --header-size: 8rem;
  --normal-font-size: 1.5rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  --main-font:'sligoil-micro', sans-serif;
  --header-font: 'LeMurmure-Regular', sans-serif;

  --font-light: 200;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



body {
  font-family: var(--main-font);
  color: var(--white-color);
  min-height: 100vh;
  background-color: var(--main-color);
}

html {
  scroll-behavior: smooth;
}

.main {
  margin: 3rem;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

h1 {
  margin-bottom: -2rem;
  display: flex;
  justify-content: center;
  color: var(--black-color);
  font-family: var(--header-font);
  font-size: var(--header-size);
}

.cards-container{
  display: flex;
  flex-direction: column;
  position: relative;
  background: var(--second-main-color);
  color: var(--white-color);
  box-shadow: 0 .25rem .25rem 0 var(--black-color);
  transition: 0.3s;
  margin: 1rem;
}

.cards-container:hover {
  transform: scale(1.2);
  border: none;
  z-index: 5;
}

.card-image {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
  transition: 0.3s; 
  left: 95%;
  transform: translateX(-95%);
}

.card:hover img{
  margin-top: 1rem;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  border: .2rem solid var(--main-color-light);
  box-shadow: 0 .25rem .25rem 0 var(--black-color);
}

.info {
  position: relative;
  width: 100%;
  height: 90%;
  padding: .25rem 1rem;
  color: var(--white-color);
}

.card-name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-bold);
  margin-bottom: .5rem;
  margin-top: 1rem;
}

.character-life {
  font-size:var(--smaller-font-size);
  font-weight: var(--font-medium);
  margin-bottom: .5rem;
}

.info {
  font-size:var(--smaller-font-size);
  font-weight: var(--font-regular);
  margin-bottom: 5%;
}

.hobby {
  margin-bottom: .75rem;
}

@media (max-width: 768px) {
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .main {
    margin: 3%;
  }

  h1 {
    font-size: 700%;
    margin-top: 9%;
    margin-left: 1%;
    margin-bottom: 3%;
  }

  .info {
    height: auto;
    padding: 1rem;
  }

  .card-name {
    font-size: var(--small-font-size);
  }

  .character-life,
  .hobby {
    font-size: var(--smaller-font-size);
  }

  .cards-container {
    margin: 0.5rem;
  }
  .card:hover img {
    height: 4rem;
    width: 4rem;
    margin-top: .5rem;
  }
}

@media (max-width: 500px) {
  .main {
    margin: 0;
  }
  .cards-grid {
    grid-template-columns: 1fr;
  }
  h1 {
    font-size: 550%;
    margin-left: 5%;
  }

  .info {
    padding: 5%;
  }

  .cards-container {
    height: 95%;
    width: 90%;
    display: flex;
    justify-self: center;
    align-self: center;
  }

  .cards-container:hover {
    transform: scale(1);
  }

  .card:hover img {
    height: 4rem;
    width: 4rem;
  }
}